%h2 Rankings

%table.table
  %tr
    %th Name
    %th Points
    %th Goals
    %th Goals C
  - @teams.each do |team|
    %tr
      %td= team.name
      %td= team.points
      %td= team.goals
      %td= team.goals_conceded
