%h2 Matches

%h3 finished
%table{class:"table table-striped"}
  %thead
    %tr
      %th Home Team
      %th
      %th.right Away Team
  - @finished_matches.each do |match|
    = render partial: "match_row", locals: { match: match }

%h3 unfinished
%table{class:"table table-striped"}
  %thead
    %tr
      %th Home Team
      %th
      %th.right Away Team
      %th
  - @unfinished_matches.each do |match|
    %tr
      %td= match.home_team.name
      %td XX : XX
      %td.right= match.away_team.name
      %td.right= button_to "edit", edit_match_path(match), method: "get", class: "btn btn-warning"
